
*{
    padding: 0;
    margin:0;
}
.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 120vw 100vh;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hiscoreBox{
    position: absolute;
    top:42px;
    right: 93px;
    font-size: 33px;
    font-weight: bold;
    color: white;
    font-family: 'Frijole',cursive;

}
#scoreBox{
    position: absolute;
    top:9px;
    right: 150px;
    font-size: 33px;
    font-weight: bold;
    color: white;
    font-family: 'Frijole', cursive;
}
#board{
    background: linear-gradient(#24444c,#c1c1ac);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.head{
    background:linear-gradient(rgb(10, 129, 84),rgb(167, 167, 159));
    border-radius: 18px;
    border: 2px solid white;
    transform: scale(1.02);
}
.snake{
    background-color: rgb(37, 236, 37);
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background-color:rgb(232, 235, 227);
    border:.25min solid black;
    border-radius: 8px;


}